body{
  margin: 0;
  background-image: url("https://images5.alphacoders.com/135/thumb-1920-1358295.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
  
}

  h1{
  margin: 50px;
  font-family: Times;
  color: white;
  text-shadow: 0 0 20px #D12600;
  font-size: 110px;
  text-align: center;
}

a{
  text-decoration-color: white;
}

h2{
  color: white;
  text-shadow:  0 0 30px red;
  font-size: 50px;
}

p{
  font-size: 25px;
  color: #C25F5F;
  text-shadow: 0 0 40px black;
}

.retour{
  text-align: center;
}

table{
  font-family: Times;
  color: gray;
  text-shadow: 0 0 40px black;
  font-size: 30px;
}

.haut-tbl{
  color: #FF3636;
  text-shadow: 0 0 40px red;
  
}

table, td, th{
  border: 1px solid gray;
  text-align: center;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #333;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}